<a href="https://colab.research.google.com/github/UmaimahAKhan/Pakistan-s-Largest-Ecommerce-oders-dataset/blob/main/EDA_on_Pakistani_E_commerce_Orders_data_in_various_categories_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import files

# This will prompt you to upload the file
uploaded = files.upload()

# Now you can read the file as a pandas dataframe
import pandas as pd

# Assuming the file is uploaded and you use the filename from uploaded
df = pd.read_csv('Pakistan Largest Ecommerce Dataset.csv')

# Check the data
df.head()

Saving Pakistan Largest Ecommerce Dataset.csv to Pakistan Largest Ecommerce Dataset.csv

<ipython-input-4-f8987d87848a>:10: DtypeWarning: Columns (1,2,3,7,8,9,11,12,13,14,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Pakistan Largest Ecommerce Dataset.csv')

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,1.0,NaN,NaN,NaN,NaN,NaN
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,2.0,NaN,NaN,NaN,NaN,NaN
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,3.0,NaN,NaN,NaN,NaN,NaN
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,7.0,2016-7,7-2016,FY17,4.0,NaN,NaN,NaN,NaN,NaN
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,5.0,NaN,NaN,NaN,NaN,NaN

In [5]:
# Check for missing values
print(df.isnull().sum())

# Fill missing values
df.fillna({
    'price': 0,                       # Replace missing prices with 0
    'qty_ordered': 0,                 # Replace missing quantity with 0
    'grand_total': 0,                 # Replace missing totals with 0
    'discount_amount': 0,             # Replace missing discounts with 0
    'payment_method': 'Unknown',      # Replace missing payment method with 'Unknown'
    'category_name_1': 'Unknown'      # Replace missing category with 'Unknown'
}, inplace=True)

# Alternatively, if you want to drop rows with missing values:
# df.dropna(inplace=True)

item_id                   464051
status                    464066
created_at                464051
sku                       464071
price                     464051
qty_ordered               464051
grand_total               464051
increment_id              464051
category_name_1           464215
sales_commission_code     601229
discount_amount           464051
payment_method            464051
Working Date              464051
BI Status                 464051
 MV                       464051
Year                      464051
Month                     464051
Customer Since            464062
M-Y                       464051
FY                        464051
Customer ID               464062
Unnamed: 21              1048575
Unnamed: 22              1048575
Unnamed: 23              1048575
Unnamed: 24              1048575
Unnamed: 25              1048575
dtype: int64

In [6]:
# Convert date fields to datetime objects
df['created_at'] = pd.to_datetime(df['created_at'], errors='coerce')
df['Working Date'] = pd.to_datetime(df['Working Date'], errors='coerce')

# Handle missing or invalid dates (optional)
df['created_at'].fillna(pd.Timestamp('1900-01-01'), inplace=True)
df['Working Date'].fillna(pd.Timestamp('1900-01-01'), inplace=True)

In [7]:
# Remove duplicate rows if any
df.drop_duplicates(inplace=True)

In [8]:
# Standardize column names
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [9]:
# Remove unrealistic or invalid values (e.g., negative prices)
df = df[df['price'] > 0]
df = df[df['qty_ordered'] > 0]

In [10]:
# Clean payment method field
df['payment_method'] = df['payment_method'].str.strip().str.title()

# Clean category names and replace missing with 'Unknown'
df['category_name_1'] = df['category_name_1'].fillna('Unknown').str.strip().str.title()

In [11]:
# Check the cleaned dataset
print(df.head())
print(df.info())  # Check if the data types are correct

    item_id          status created_at  \
0  211131.0        complete 2016-07-01
1  211133.0        canceled 2016-07-01
2  211134.0        canceled 2016-07-01
3  211135.0        complete 2016-07-01
4  211136.0  order_refunded 2016-07-01

                                                 sku   price  qty_ordered  \
0                                  kreations_YI 06-L  1950.0          1.0
1  kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...   240.0          1.0
2                                 Ego_UP0017-999-MR0  2450.0          1.0
3                                     kcc_krone deal   360.0          1.0
4                                        BK7010400AG   555.0          2.0

   grand_total increment_id    category_name_1 sales_commission_code  ...  \
0       1950.0    100147443    Women'S Fashion                    \N  ...
1        240.0    100147444  Beauty & Grooming                    \N  ...
2       2450.0    100147445    Women'S Fashion                    \N  ...
3         60.0    100147446  Beauty & Grooming           R-FSD-52352  ...
4       1110.0    100147447            Soghaat                    \N  ...

   month customer_since     m-y    fy customer_id  unnamed:_21  unnamed:_22  \
0    7.0         2016-7  7-2016  FY17         1.0          NaN          NaN
1    7.0         2016-7  7-2016  FY17         2.0          NaN          NaN
2    7.0         2016-7  7-2016  FY17         3.0          NaN          NaN
3    7.0         2016-7  7-2016  FY17         4.0          NaN          NaN
4    7.0         2016-7  7-2016  FY17         5.0          NaN          NaN

  unnamed:_23 unnamed:_24 unnamed:_25
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 582292 entries, 0 to 584523
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                582292 non-null  float64
 1   status                 582278 non-null  object
 2   created_at             582292 non-null  datetime64[ns]
 3   sku                    582289 non-null  object
 4   price                  582292 non-null  float64
 5   qty_ordered            582292 non-null  float64
 6   grand_total            582292 non-null  float64
 7   increment_id           582292 non-null  object
 8   category_name_1        582292 non-null  object
 9   sales_commission_code  445933 non-null  object
 10  discount_amount        582292 non-null  float64
 11  payment_method         582292 non-null  object
 12  working_date           582292 non-null  datetime64[ns]
 13  bi_status              582292 non-null  object
 14  _mv_                   582292 non-null  object
 15  year                   582292 non-null  float64
 16  month                  582292 non-null  float64
 17  customer_since         582281 non-null  object
 18  m-y                    582292 non-null  object
 19  fy                     582292 non-null  object
 20  customer_id            582281 non-null  float64
 21  unnamed:_21            0 non-null       float64
 22  unnamed:_22            0 non-null       float64
 23  unnamed:_23            0 non-null       float64
 24  unnamed:_24            0 non-null       float64
 25  unnamed:_25            0 non-null       float64
dtypes: datetime64[ns](2), float64(13), object(11)
memory usage: 119.9+ MB
None

In [12]:
# Check the current data types
print(df.dtypes)

# Fill NaN values with 0 (if necessary)
df['item_id'].fillna(0, inplace=True)
df['qty_ordered'].fillna(0, inplace=True)
df['month'].fillna(0, inplace=True)
df['customer_id'].fillna(0, inplace=True)

# Convert specific columns from float64 to int
df['item_id'] = df['item_id'].astype('int')
df['qty_ordered'] = df['qty_ordered'].astype('int')
df['month'] = df['month'].astype('int')
df['customer_id'] = df['customer_id'].astype('int')

# Verify the changes
print(df.dtypes)

item_id                         float64
status                           object
created_at               datetime64[ns]
sku                              object
price                           float64
qty_ordered                     float64
grand_total                     float64
increment_id                     object
category_name_1                  object
sales_commission_code            object
discount_amount                 float64
payment_method                   object
working_date             datetime64[ns]
bi_status                        object
_mv_                             object
year                            float64
month                           float64
customer_since                   object
m-y                              object
fy                               object
customer_id                     float64
unnamed:_21                     float64
unnamed:_22                     float64
unnamed:_23                     float64
unnamed:_24                     float64
unnamed:_25                     float64
dtype: object
item_id                           int64
status                           object
created_at               datetime64[ns]
sku                              object
price                           float64
qty_ordered                       int64
grand_total                     float64
increment_id                     object
category_name_1                  object
sales_commission_code            object
discount_amount                 float64
payment_method                   object
working_date             datetime64[ns]
bi_status                        object
_mv_                             object
year                            float64
month                             int64
customer_since                   object
m-y                              object
fy                               object
customer_id                       int64
unnamed:_21                     float64
unnamed:_22                     float64
unnamed:_23                     float64
unnamed:_24                     float64
unnamed:_25                     float64
dtype: object

In [13]:
print(df.head())

   item_id          status created_at  \
0   211131        complete 2016-07-01
1   211133        canceled 2016-07-01
2   211134        canceled 2016-07-01
3   211135        complete 2016-07-01
4   211136  order_refunded 2016-07-01

                                                 sku   price  qty_ordered  \
0                                  kreations_YI 06-L  1950.0            1
1  kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...   240.0            1
2                                 Ego_UP0017-999-MR0  2450.0            1
3                                     kcc_krone deal   360.0            1
4                                        BK7010400AG   555.0            2

   grand_total increment_id    category_name_1 sales_commission_code  ...  \
0       1950.0    100147443    Women'S Fashion                    \N  ...
1        240.0    100147444  Beauty & Grooming                    \N  ...
2       2450.0    100147445    Women'S Fashion                    \N  ...
3         60.0    100147446  Beauty & Grooming           R-FSD-52352  ...
4       1110.0    100147447            Soghaat                    \N  ...

   month customer_since     m-y    fy customer_id  unnamed:_21  unnamed:_22  \
0      7         2016-7  7-2016  FY17           1          NaN          NaN
1      7         2016-7  7-2016  FY17           2          NaN          NaN
2      7         2016-7  7-2016  FY17           3          NaN          NaN
3      7         2016-7  7-2016  FY17           4          NaN          NaN
4      7         2016-7  7-2016  FY17           5          NaN          NaN

  unnamed:_23 unnamed:_24 unnamed:_25
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 26 columns]

In [14]:
# Check the original DataFrame columns
print("Original Columns:")
print(df.columns)

# Drop the last 5 columns
df.drop(columns=df.columns[-5:], inplace=True)

# Check the DataFrame after dropping the columns
print("Columns after dropping last 5:")
print(df.columns)

Original Columns:
Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1',
       'sales_commission_code', 'discount_amount', 'payment_method',
       'working_date', 'bi_status', '_mv_', 'year', 'month', 'customer_since',
       'm-y', 'fy', 'customer_id', 'unnamed:_21', 'unnamed:_22', 'unnamed:_23',
       'unnamed:_24', 'unnamed:_25'],
      dtype='object')
Columns after dropping last 5:
Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1',
       'sales_commission_code', 'discount_amount', 'payment_method',
       'working_date', 'bi_status', '_mv_', 'year', 'month', 'customer_since',
       'm-y', 'fy', 'customer_id'],
      dtype='object')

In [15]:
# Create the fact table
fact_order = df[['item_id', 'status', 'qty_ordered','created_at','bi_status','payment_method','sku', 'grand_total', 'customer_id', '_mv_']].copy()
print("Fact Order:")
print(fact_order.head())

Fact Order:
   item_id          status  qty_ordered created_at bi_status payment_method  \
0   211131        complete            1 2016-07-01     #REF!            Cod
1   211133        canceled            1 2016-07-01     Gross            Cod
2   211134        canceled            1 2016-07-01     Gross            Cod
3   211135        complete            1 2016-07-01       Net            Cod
4   211136  order_refunded            2 2016-07-01     Valid            Cod

                                                 sku  grand_total  \
0                                  kreations_YI 06-L       1950.0
1  kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...        240.0
2                                 Ego_UP0017-999-MR0       2450.0
3                                     kcc_krone deal         60.0
4                                        BK7010400AG       1110.0

   customer_id     _mv_
0            1   1,950
1            2     240
2            3   2,450
3            4     360
4            5   1,110

In [17]:
# Create the product dimension table
product_dimension = df[['sku', 'price', 'sales_commission_code', 'discount_amount', 'category_name_1']].drop_duplicates().reset_index(drop=True)
print("Product Dimension:")
print(product_dimension.head())

# Create the customer dimension table
customer_dimension = df[['customer_id', 'customer_since']].drop_duplicates().reset_index(drop=True)
print("Customer Dimension:")
print(customer_dimension.head())

# Create the date dimension table
date_dimension = df[['created_at','fy', 'working_date']].copy()
date_dimension['year'] = date_dimension['created_at'].dt.year
date_dimension['month'] = date_dimension['created_at'].dt.month
date_dimension['day'] = date_dimension['created_at'].dt.day
date_dimension = date_dimension.drop_duplicates().reset_index(drop=True)
print("Date Dimension:")
print(date_dimension.head())

Product Dimension:
                                                 sku   price  \
0                                  kreations_YI 06-L  1950.0
1  kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...   240.0
2                                 Ego_UP0017-999-MR0  2450.0
3                                     kcc_krone deal   360.0
4                                        BK7010400AG   555.0

  sales_commission_code  discount_amount    category_name_1
0                    \N              0.0    Women'S Fashion
1                    \N              0.0  Beauty & Grooming
2                    \N              0.0    Women'S Fashion
3           R-FSD-52352            300.0  Beauty & Grooming
4                    \N              0.0            Soghaat
Customer Dimension:
   customer_id customer_since
0            1         2016-7
1            2         2016-7
2            3         2016-7
3            4         2016-7
4            5         2016-7
Date Dimension:
  created_at    fy working_date  year  month  day
0 2016-07-01  FY17   2016-07-01  2016      7    1
1 2016-07-02  FY17   2016-07-02  2016      7    2
2 2016-07-03  FY17   2016-07-03  2016      7    3
3 2016-07-04  FY17   2016-07-04  2016      7    4
4 2016-07-05  FY17   2016-07-05  2016      7    5